@keyframes showSucces {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

@keyframes hideSucces {
  from {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
  }
}
