/*FONTS*/

$roboto: "Roboto", serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorWhiteMuted: rgb(168, 168, 168);
$colorAccent: rgb(255, 178, 36);
$colorAccentHover: rgb(253, 172, 22);
$colorBg: rgb(49, 49, 49);
$colorBgSecondary: rgb(102, 102, 102);
$colorOverlay: rgba(0, 0, 0, 0.5);
$colorBlack: #000;

/*COLORS*/

/*MEDIA*/

/*MEDIA*/
